.footer {
    width: 100%;
    height: 70px;
    background-color: #111;
    color: var(--white);
    display: grid;
    place-items: center;
    font-size: .9rem;
}

p.copy {
    margin: 0;
}

@media (min-width: 450px){
    footer.footer {
        height: 55px;
        font-size: 1.3rem;
    }
}