<form class="row g-3" (ngSubmit)="editarProyecto()" [formGroup]="proyectoForm" enctype="multipart/form-data">
    <div class="col-12">
        <label for="edit-proyecto-input-id" class="form-label">Ingresa el ID del elemento a editar</label>
        <input type="number" class="form-control" id="edit-proyecto-input-id" min="1">
        <div *ngIf="existeProyecto" class="alert alert-danger" >El ID ingresado no corresponde a ninguna experiencia registrada.</div>
        <button class="btn btn-primary mt-3" type="button" (click)="getProyecto()">Cargar datos</button>
    </div>
    <hr>
    <div class="col-12">
        <label for="edit-proyecto-input-img" class="form-label">Imagen</label>
        <input type="text" name="urlnewImg" formControlName="url_imagen" class="d-none" id="value-edit-proyecto-input-img">
        <input type="file" class="form-control" (change)="onChange($event)" id="edit-proyecto-input-img">
    </div>
    <div class="col-12">
        <label for="edit-proyecto-input-title" class="form-label">Título</label>
        <input type="text" class="form-control" formControlName="titulo" id="edit-proyecto-input-title">
        <div *ngIf="proyectoForm.get('titulo')?.touched && proyectoForm.get('titulo')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-proyecto-input-fecha" class="form-label">Año</label>
        <input type="number" class="form-control" formControlName="fecha" id="edit-proyecto-input-fecha" min="2000" max="2050" maxlength="4">
        <div *ngIf="proyectoForm.get('fecha')?.touched && proyectoForm.get('fecha')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-proyecto-input-link" class="form-label">Link</label>
        <input type="text" class="form-control" formControlName="link" id="edit-proyecto-input-link">
        <div *ngIf="proyectoForm.get('link')?.touched && proyectoForm.get('link')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-proyecto-input-descripcion" class="form-label">Descripción</label>
        <textarea class="form-control textarea" formControlName="descripcion" id="edit-proyecto-input-descripcion"></textarea>
        <div *ngIf="proyectoForm.get('descripcion')?.touched && proyectoForm.get('descripcion')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="edit-proyecto-btn" [disabled]="proyectoForm.invalid">Editar</button>
    </div>
</form>