<article class="container mb-3" id="body-dashboard">
    <app-perfil-edit class="d-block e-form" id="form-1"></app-perfil-edit>
    <app-educacion-new class="d-none e-form" id="form-2"></app-educacion-new>
    <app-educacion-edit class="d-none e-form" id="form-3"></app-educacion-edit>
    <app-educacion-delete class="d-none e-form" id="form-4"></app-educacion-delete>
    <!-- <app-experiencia-new class="d-none e-form" id="form-5"></app-experiencia-new> -->
    <!-- <app-experiencia-edit class="d-none e-form" id="form-6"></app-experiencia-edit> -->
    <!-- <app-experiencia-delete class="d-none e-form" id="form-7"></app-experiencia-delete> -->
    <!-- <app-habilidades-new class="d-none e-form" id="form-8"></app-habilidades-new> -->
    <!-- <app-habilidades-edit class="d-none e-form" id="form-9"></app-habilidades-edit> -->
    <!-- <app-habilidades-delete class="d-none e-form" id="form-10"></app-habilidades-delete> -->
    <!-- <app-proyecto-new class="d-none e-form" id="form-11"></app-proyecto-new> -->
    <!-- <app-proyecto-edit class="d-none e-form" id="form-12"></app-proyecto-edit> -->
    <!-- <app-proyecto-delete class="d-none e-form" id="form-13"></app-proyecto-delete> -->
</article>