<form class="row g-3" (ngSubmit)="agregarEducacion()" [formGroup]="educacionForm">
    <div class="col-12 col-md-6">
        <label for="new-educacion-input-fechaInicio" class="form-label">Año (Inicio)</label>
        <input type="number" class="form-control" formControlName="fecha_inicio" id="new-educacion-input-fechaInicio" min="2000" max="2050" maxlength="4">
        <div *ngIf="educacionForm.get('fecha_inicio')?.touched && educacionForm.get('fecha_inicio')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12 col-md-6">
        <label for="new-educacion-input-fechaFin" class="form-label">Año (Fin)</label>
        <input type="number" class="form-control" formControlName="fecha_fin" id="new-educacion-input-fechaFin" min="2000" max="2050" maxlength="4">
        <div *ngIf="educacionForm.get('fecha_fin')?.touched && educacionForm.get('fecha_fin')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="new-educacion-input-instituto" class="form-label">Instituto</label>
        <input type="text" class="form-control" formControlName="instituto" id="new-educacion-input-instituto">
        <div *ngIf="educacionForm.get('instituto')?.touched && educacionForm.get('instituto')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="new-educacion-input-title" class="form-label">Título</label>
        <input type="text" class="form-control" formControlName="titulo" id="new-educacion-input-title">
        <div *ngIf="educacionForm.get('titulo')?.touched && educacionForm.get('titulo')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="new-educacion-input-descripcion" class="form-label">Descripción</label>
        <textarea class="form-control textarea" formControlName="descripcion" id="new-educacion-input-descripcion"></textarea>
        <div *ngIf="educacionForm.get('descripcion')?.touched && educacionForm.get('descripcion')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="new-educacion-btn" [disabled]="educacionForm.invalid">Crear</button>
        <button type="reset" class="btn btn-primary btn-reset-form">Reset</button>
    </div>
</form>