<section class="experiencia section-style">
    <h2 class="title-section">experiencia</h2>
    <section class="container-seccion" id="container-experiencia">
        <div class="box-seccion" *ngFor="let experiencia of miPorfolio.experiencias">
            <div class="box-lado-izq">
                <h3>{{experiencia.fecha}}</h3>
                <h4>{{experiencia.nombre}}</h4>
            </div>
            <div class="box-lado-dcho">
                <h3>{{experiencia.cargo}}</h3>
                <h4>{{experiencia["descripcion-cargo"]}}</h4>
            </div>
        </div>
        <!-- <div class="container-experiencia-lado-izquierdo">
        </div>
        <div class="container-experiencia-lado-derecho">
            <div class="box-seccion" *ngFor="let experiencia of arr2">
                <div class="box-edit">
                    <span class="material-icons material-icons-outlined btn-edit btn-edit-experiencia">
                        edit
                    </span>
                    <span class="material-icons material-icons-outlined btn-delete btn-delete-experiencia">
                        cancel
                    </span>
                </div>
                <div class="box-lado-izq">
                    <h3>{{experiencia.fecha}}</h3>
                    <h4>{{experiencia.nombre}}</h4>
                </div>
                <div class="box-lado-dcho">
                    <h3>{{experiencia.cargo}}</h3>
                    <h4>{{experiencia["descripcion-cargo"]}}</h4>
                </div>
            </div>
        </div> -->
    </section>
</section>