<section class="perfil">
    <article class="perfil-data perfil-data-position">
        <img [src]="miPorfolio.urlImgPerfil" alt="" class="perfil-foto" id="perfil-foto">
        <h2 class="perfil-name" id="perfil-name">{{miPorfolio.name}}</h2>
        <h1 class="perfil-title" id="perfil-title">{{miPorfolio.titulo}}</h1>
    </article>
    <section class="about about-position section-style">
        <h2 class="title-section">acerca de mi</h2>
        <p class="about-text" id="about-text">{{miPorfolio.aboutMe}}</p>
</section>