<form class="row g-3" (ngSubmit)="editarExperiencia()" [formGroup]="experienciaForm">
    <div class="col-12">
        <label for="edit-experiencia-input-id" class="form-label">Ingresa el ID del elemento a editar</label>
        <input type="number" class="form-control" id="edit-experiencia-input-id" min="1">
        <div *ngIf="existeExperiencia" class="alert alert-danger" >El ID ingresado no corresponde a ninguna experiencia registrada.</div>
        <button class="btn btn-primary mt-3" type="button" (click)="getExperiencia()">Cargar datos</button>
    </div>
    <hr>
    <div class="col-12 col-md-6">
        <label for="edit-experiencia-input-fechaInicio" class="form-label">Año (Inicio)</label>
        <input type="number" class="form-control" formControlName="fecha_inicio" id="edit-experiencia-input-fechaInicio" min="2000" max="2050" maxlength="4">
        <div *ngIf="experienciaForm.get('fecha_inicio')?.touched && experienciaForm.get('fecha_inicio')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12 col-md-6">
        <label for="edit-experiencia-input-fechaFin" class="form-label">Año (Fin)</label>
        <input type="number" class="form-control" formControlName="fecha_fin" id="edit-experiencia-input-fechaFin" min="2000" max="2050" maxlength="4">
        <div *ngIf="experienciaForm.get('fecha_fin')?.touched && experienciaForm.get('fecha_fin')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-experiencia-input-lugar" class="form-label">Lugar</label>
        <input type="text" class="form-control" formControlName="lugar" id="edit-experiencia-input-lugar">
        <div *ngIf="experienciaForm.get('lugar')?.touched && experienciaForm.get('lugar')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-experiencia-input-ocupacion" class="form-label">Ocupación</label>
        <input type="text" class="form-control" formControlName="ocupacion" id="edit-experiencia-input-ocupacion">
        <div *ngIf="experienciaForm.get('ocupacion')?.touched && experienciaForm.get('ocupacion')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <label for="edit-experiencia-input-descripcion" class="form-label">Descripción</label>
        <textarea class="form-control textarea" formControlName="descripcion" id="edit-experiencia-input-descripcion"></textarea>
        <div *ngIf="experienciaForm.get('descripcion')?.touched && experienciaForm.get('descripcion')?.errors?.['required']" class="alert alert-danger" >Este campo es requerido</div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" id="edit-experiencia-btn" [disabled]="experienciaForm.invalid">Editar</button>
    </div>
</form>