<div class="modal-ventana" id="modal-login">
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
        <fa-icon [icon]="faTimes" class="modal-close-btn" id="modal-close-btn" (click)="cerrarLogin()" ></fa-icon>
        <h2 class="form-login-title">Inicia sesión!</h2>
        <div class="modal-box user-box">
            <input type="text" name="usuario" formControlName="username" id="user-input" class="input-login" (keyup)="subirLabelUser()">
            <label for="user-input" id="label-login-user" class="label-login">Usuario</label>
        </div>
        <div class="modal-box user-box">
            <input type="password" name="password" formControlName="password" id="pass-input" class="input-login" (keyup)="subirLabelPass()">
            <label for="pass-input" id="label-login-pass" class="label-login">Contraseña</label>
        </div>
        <button class="form-login-btn" id="form-login-btn" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
</div>